<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Babylon.js sample code</title>

        <!-- Babylon.js -->
        <script src="https://code.jquery.com/pep/0.4.2/pep.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.6.2/dat.gui.min.js"></script>
        <script src="https://preview.babylonjs.com/ammo.js"></script>
        <script src="https://preview.babylonjs.com/cannon.js"></script>
        <script src="https://preview.babylonjs.com/Oimo.js"></script>
        <script src="https://preview.babylonjs.com/libktx.js"></script>
        <script src="https://preview.babylonjs.com/earcut.min.js"></script>
        <script src="https://preview.babylonjs.com/babylon.js"></script>
        <script src="https://preview.babylonjs.com/inspector/babylon.inspector.bundle.js"></script>
        <script src="https://preview.babylonjs.com/materialsLibrary/babylonjs.materials.min.js"></script>
        <script src="https://preview.babylonjs.com/proceduralTexturesLibrary/babylonjs.proceduralTextures.min.js"></script>
        <script src="https://preview.babylonjs.com/postProcessesLibrary/babylonjs.postProcess.min.js"></script>
        <script src="https://preview.babylonjs.com/loaders/babylonjs.loaders.js"></script>
        <script src="https://preview.babylonjs.com/serializers/babylonjs.serializers.min.js"></script>
        <script src="https://preview.babylonjs.com/gui/babylon.gui.min.js"></script>

        <style>
            html, body {
                overflow: hidden;
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }

            #renderCanvas {
                width: 100%;
                height: 100%;
                touch-action: none;
            }
        </style>
    </head>
<body>
    <canvas id="renderCanvas"></canvas>
    <script>
        var canvas = document.getElementById("renderCanvas");

        var engine = null;
        var scene = null;
        var sceneToRender = null;
        var createDefaultEngine = function() { return new BABYLON.Engine(canvas, true, { preserveDrawingBuffer: true, stencil: true }); };
        var createDefaultScene = function() {
            // Setup the scene
            var scene = new BABYLON.Scene(engine);
            var camera = new BABYLON.ArcRotateCamera(
                "camera1", 
                -(Math.PI / 2), 
                Math.PI / 2, 
                1,
                new BABYLON.Vector3(0, 0, 0), 
                scene
            );
            
            camera.minZ = .01;
            camera.maxZ = 10;
            camera.lowerRadiusLimit = .01;
            camera.upperRadiusLimit = 10;
            camera.wheelPrecision = 200;
            camera.pinchPrecision = 700;
            camera.panningSensibility = 1000;

            var light = new BABYLON.HemisphericLight("light1", new BABYLON.Vector3(0, 1, 0), scene);
            return scene;
        };
        
        engine = createDefaultEngine();
        if (!engine) throw 'engine should not be null.';
        scene = createDefaultScene();

        // Add GUI here
        var unitVec = new BABYLON.Vector3(1, 1, 1);

        var advancedTexture = BABYLON.GUI.AdvancedDynamicTexture.CreateFullscreenUI("UI", true, scene);
        
        var panel = new BABYLON.GUI.StackPanel();
        panel.width = "300px";
        panel.isVertical = true;
        panel.paddingLeft = "20px";
        panel.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;
        panel.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_CENTER;
        panel.fontSize = 16;
        advancedTexture.addControl(panel);

        var addCheckbox = function(text, node, property, val1, val2 ,left, panel) {
            var checkbox = new BABYLON.GUI.Checkbox();
            checkbox.width = "20px";
            checkbox.height = "20px";
            checkbox.color = "green";
            checkbox.isChecked = false;
            node[property] = val2; //false set at start

            checkbox.onIsCheckedChangedObservable.add(function(value) {
                if (value){
                    node[property] = val1;
                }else{
                    node[property] = val2;
                }
            });

            var header = BABYLON.GUI.Control.AddHeader(checkbox, text, "180px", { isHorizontal: true, controlFirst: true});
            header.height = "30px";
            header.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;

            if (left) {
                header.left = left;
            }

            panel.addControl(header); 
            
            return checkbox
        }

        // Add model and all checkboxes
        var nodes, tols;
        BABYLON.SceneLoader.ImportMesh(
            undefined, 
            "", 
            "92320022_cad.gltf", 
            scene, 
            function (meshes) {
                scene.createDefaultCameraOrLight(true);
                scene.activeCamera.attachControl(canvas, false);

                nodes = meshes[0].getChildren()
            }
        );

        var point_positions;
        var point_lines;
        setTimeout(function() {
            // After model did load (1000ms timeout safe)

            // Use "nodes" defined in sceneloader
            // nodes[0]    : CAD model
            // nodes[1]    : axes
            // nodes[2]    : tols root node
            part = nodes[0]
            axes = nodes[1]
            tols = nodes[2].getChildren()

            // checkbox presets
            var hidden = unitVec.scale(0)
            var visible = unitVec.scale(1)

            part_cb = addCheckbox(part.id, part, "scaling", visible, hidden, "40px", panel);
            part_cb.isChecked = true;
            axes_cb = addCheckbox(axes.id, axes, "scaling", visible, hidden, "40px", panel);
            axes_cb.isChecked = true;
            
            // Measurement points
            point_positions = new Array(tols.length)
            point_lines = new Array(tols.length)
            tols.forEach((tol,tol_id) => {
                addCheckbox(tol.name, tol, "scaling", visible, hidden, "40px", panel);
                
                elems = tol.getChildren()
                point_positions[tol_id] = new Array(elems.length)
                point_lines[tol_id] = new Array(elems.length)
                
                elems.forEach((elem,elem_id) => {
                var toldev = tol.metadata.gltf.extras['deviation']

                    points = elem.getChildren()
                    point_positions[tol_id][elem_id] = new Array(points.length)
                    point_lines[tol_id][elem_id] = new Array(points.length)

                    points.forEach((point, point_id) => {
                        
                        point_positions[tol_id][elem_id][point_id] = point.position
                        
                        // draw line
                        const line_coordinates = {
                            points: [
                                point.position,
                                point.position,
                            ], //vec3 array,
                            updatable: true,
                        };
                        
                        let line_obj = BABYLON.MeshBuilder.CreateLines("lines", line_coordinates, scene); //scene is optional and defaults to the current scene
                        
                        point_lines[tol_id][elem_id][point_id] = line_coordinates
                        line_coordinates.line = line_obj
                        
                    });
                });
            });
            // Rotation

        }, 1000); // Max timeout for model loading for node tree fetch

        var slider = new BABYLON.GUI.Slider();
        slider.minimum = .5;
        slider.maximum = 2;
        slider.value = 1;
        slider.height = "20px";
        slider.width = "150px";
        slider.color = "#003399";
        slider.background = "grey";
        slider.left = "200px";
        slider.top = "20px";
        slider.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;
        slider.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP;
        slider.onValueChangedObservable.add(function (value) {
            tols.forEach(tol => {
                elems = tol.getChildren()
                elems.forEach(elem => {
                    points = elem.getChildren()
                    points.forEach(point => {
                        point.scaling = unitVec.scale(value);
                    });
                });
            });
        });
        advancedTexture.addControl(slider);
        
        var slider_deviation = new BABYLON.GUI.Slider();
        slider_deviation.minimum = 0;
        slider_deviation.maximum = 10;
        slider_deviation.value = 0;
        slider_deviation.height = "20px";
        slider_deviation.width = "150px";
        slider_deviation.color = "#003399";
        slider_deviation.background = "grey";
        slider_deviation.left = "200px";
        slider_deviation.top = "50px";
        slider_deviation.horizontalAlignment = BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;
        slider_deviation.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP;
        slider_deviation.onValueChangedObservable.add(function (value) {
            tols.forEach((tol,tol_id) => {
                elems = tol.getChildren()
                elems.forEach((elem,elem_id) => {
                    points = elem.getChildren()
                    points.forEach((point,index) => {
                        new_position = new BABYLON.Vector3(
                            point_positions[tol_id][elem_id][index].x,
                            point_positions[tol_id][elem_id][index].y+value*point.metadata.gltf.extras['deviation'],
                            point_positions[tol_id][elem_id][index].z
                        )
                        // point_lines[tol_id][elem_id][index].points[1] = new_position
                        // line = BABYLON.MeshBuilder.CreateLines("lines", point_lines[tol_id][elem_id][index])

                        point.position = new_position
                    });
                });
            });
        });

        advancedTexture.addControl(slider_deviation);

        // Start rendering the scene based on the engine render loop.
        engine.runRenderLoop(function () {
            if (scene) {
                scene.render();
            }
        });

        // Resize
        window.addEventListener("resize", function () {
            engine.resize();
        });

        class MenuOptions
        {
            constructor(advancedTexture, options = {})
            {
                let width = (options.width || 180)+"px";
                this.height = (options.height || 40)+"px";
                this.color = options.color || "black";
                this.background = options.background || "white";

                this.advancedTexture = advancedTexture;

                // Container
                this.container = new BABYLON.GUI.Container();
                this.container.width = width;
                this.container.verticalAlignment = options.align || BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP;
                this.container.horizontalAlignment = options.valign || BABYLON.GUI.Control.HORIZONTAL_ALIGNMENT_LEFT;
                this.container.isHitTestVisible = false;

                // Primary button
                this.button = BABYLON.GUI.Button.CreateSimpleButton(null, "Please Select");
                this.button.height = this.height;
                this.button.background = this.background;
                this.button.color = this.color;
                this.button.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP;

                // Options panel
                this.options = new BABYLON.GUI.StackPanel();
                this.options.verticalAlignment = BABYLON.GUI.Control.VERTICAL_ALIGNMENT_TOP;
                this.options.top = this.height;		
                this.options.isVisible = false;
                this.options.isVertical = true;

            this.button.onPointerUpObservable.add(() => {
                    this.options.isVisible = !this.options.isVisible;
                });

                this.container.onPointerEnterObservable.add(() =>{
                    this.container.zIndex = 555; //some big value
                });

                this.container.onPointerOutObservable.add(() =>{
                    this.container.zIndex = 0; //back to original
                    this.options.isVisible = false;
                });

                // add controls
                this.advancedTexture.addControl(this.container);
                this.container.addControl(this.button);
                this.container.addControl(this.options);
            }

            get top() {
                return this.container.top;
            }

            set top(value) {
            this.container.top = value;
            }

            get left() {
                return this.container.left;
            }

            set left(value) {
            this.container.left = value;
            }

            addOption(text, callback)
            {
                var button = BABYLON.GUI.Button.CreateSimpleButton(null, text);
                button.height = this.height;
                button.paddingTop = "-1px";
                button.background = this.background;
                button.color = this.color;
                button.alpha = 1.0;
                button.onPointerUpObservable.add(() => {
                    this.options.isVisible = false;            
                });        
                button.onPointerClickObservable.add(callback); 
                this.options.addControl(button);
            }
        }
    </script>
</body>
</html>